.Home {
  width: 100%;
  padding-left: 400px;
  padding-right: 50px;
}

code {
  display: block;
  padding: 15px 20px;
  background-color: #333;
  margin: 0;
  border-radius: 15px;

  pre {
    padding: 0;
    margin: 0;
    color: orangered;
  }
}

.VehicleDetails {
  padding: 0 0 50px 0;

  table {
    width: 100%;
    border: solid 2px #ddd;
    border-collapse: collapse;

    tr {
      td {
        border: solid 2px #ddd;
        padding: 10px;
      }
    }

    tr td:first-child {
      width: 150px;
      padding: 10px;
      font-weight: bolder;
    }

    tr:first-child {
      background-color: #eee;

      font-weight: 900 !important;
    }
  }
}

summary {
  cursor: pointer;
}

.swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  vertical-align: top;
  margin-right: 10px;
}
