.Sidebar {
  width: 350px;
  height: calc(100% - 50px);
  top: 50px;
  left: 0;
  position: fixed;
  background-color: #fff;
  border-right: solid 2px #ddd;

  ul {
    display: block;
    padding: 25px 0;
    margin: 0;
    list-style: none;

    li {
      text-align: left;
      line-height: 45px;
      cursor: pointer;
      padding: 0 5%;

      &.active {
        background-color: #ddd;
      }
    }
  }
}
